spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/myblog
    username: root
    password: 123456
  mvc:
    static-path-pattern: /static/**
    hidden-method:
      filter:
        enabled: true
mybatis:
  mapper-locations: classpath:mapper/*.xml
  lazy-initialization: true
  configuration:
    map-underscore-to-camel-case: true